*.ipch
*.lnk
*.exe
*.opensdf
*.cache
*.sdf
*.zip
*.suo
*.ncb
*.pkg
*.dmg
*.depend
*.layout
*.mode1v3
*.db
*.LSOverride
*.xcworkspace
*xcuserdata*
*.xcschememanagement.plist
build-*
VST_SDK/aeffect*.h
.DS_Stor*
WDL/IPlug/IPlug.vcxproj.user
WDL/lice/lice.vcxproj.user
WDL/IPlug/doc/
.vs/
VST3_SDK/base/win/Win32/
VST3_SDK/base/win/x64/
